<div>
    <legend align="center"> <%= ::SolidusCardPointe::PaymentMethod.model_name.human %></legend>
    <p>Card Number: <b><%= @payment.source.display_number %></b></p>
    <p>Card Type: <b><%= @payment.source.card_type %></b></p>
</div>
