---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/auth
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","account":"4111111111111111","amount":0.0,"currency":"USD","name":"R616817731"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 Nov 2024 20:06:33 GMT
recorded_with: VCR 6.3.1
