---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/auth
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","account":"9418594164541111","amount":0.0,"currency":"USD","capture":"N"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: '{"amount":"0.00","resptext":"Approval","commcard":"N","cvvresp":"M","respcode":"000","avsresp":"Y","entrymode":"Keyed","merchid":"<MERCHANT_ID>","token":"9418594164541111","authcode":"PPS557","respproc":"RPCT","bintype":"","expiry":"0540","retref":"333633027208","respstat":"A","account":"9418594164541111"}'
  recorded_at: Thu, 28 Nov 2024 12:33:28 GMT
recorded_with: VCR 6.3.1
