---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/auth
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","account":"4111111111111111","amount":0.0,"currency":"USD","name":"R591029126"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: '{"respproc":"PPS","amount":"0.00","resptext":"Non-numeric expiry","bintype":"","cardproc":"RPCT","commcard":"N","retref":"330705754394","respstat":"C","respcode":"15","account":"9418594164541111","merchid":"<MERCHANT_ID>","token":"9418594164541111"}'
  recorded_at: Mon, 25 Nov 2024 20:06:34 GMT
recorded_with: VCR 6.3.1
