---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/auth
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","amount":"100.0","account":"9477257372660010","currency":"USD","capture":"Y"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: '{"amount":"100.00","resptext":"Approval","commcard":"N","cvvresp":"M","respcode":"000","batchid":"194","avsresp":"Y","entrymode":"Keyed","merchid":"<MERCHANT_ID>","token":"9477257372660010","authcode":"PPS373","respproc":"RPCT","bintype":"","expiry":"0534","retref":"333538031704","respstat":"A","account":"9477257372660010"}'
  recorded_at: Thu, 28 Nov 2024 13:48:24 GMT
recorded_with: VCR 6.3.1
