---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/capture
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","amount":"100.0","currency":"USD","retref":"123456789"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 Nov 2024 21:05:47 GMT
recorded_with: VCR 6.3.1
