---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/auth
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","account":"9418594164541111","amount":"100.0","currency":"USD","capture":"y"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: '{"amount":"100.00","resptext":"Approval","commcard":"N","cvvresp":"M","respcode":"000","batchid":"194","avsresp":"Y","entrymode":"Keyed","merchid":"<MERCHANT_ID>","token":"9418594164541111","authcode":"PPS136","respproc":"RPCT","bintype":"","expiry":"0325","retref":"333130129895","respstat":"A","account":"9418594164541111"}'
  recorded_at: Thu, 28 Nov 2024 13:18:15 GMT
recorded_with: VCR 6.3.1
