---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/refund
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","retref":"333359735403","amount":"36"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 28 Nov 2024 14:51:11 GMT
recorded_with: VCR 6.3.1
