---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/refund
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","retref":"123456789","amount":"100.0"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: '{"respproc":"PPS","resptext":"Txn not found","retref":"123456789","respcode":"29","respstat":"C"}'
  recorded_at: Tue, 26 Nov 2024 17:55:46 GMT
recorded_with: VCR 6.3.1
