---
http_interactions:
- request:
    method: post
    uri: https://fts-uat.cardconnect.com:6443/cardconnect/rest/void
    body:
      encoding: UTF-8
      string: '{"merchid":"<MERCHANT_ID>","retref":"333963034628","amount":"36"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Volterra-Location:
      - md2-mad
    body:
      encoding: UTF-8
      string: '{"authcode":"REVERS","respproc":"RPCT","amount":"29.63","resptext":"Approval","currency":"USD","retref":"333963034628","respstat":"A","respcode":"000","merchid":"<MERCHANT_ID>"}'
  recorded_at: Thu, 28 Nov 2024 14:38:10 GMT
recorded_with: VCR 6.3.1
